{% extends "base.html" %}

{% block content %}
<h1>{{ user.first_name }} {{ user.last_name }}</h1>
<div class="details">
    <p>{{ user.bio }}</p>
    <a href="{{ user.social_link }}">Social link</a>
    <p>{{ user.pronouns }}</p>
</div>

{% if request.user.is_authenticated %}
    {% if user.username != request.user.username %}
        {% if match %}
            {% if reverse_match %}
                <p>Matched!</p>
            {% else %}
                <p>Match request sent!</p>
            {% endif %}
        {% else %}
            <form method="POST" action="{% url 'match' user.username %}">
                {% csrf_token %}

                <input type="submit" value="Match">
            </form>
        {% endif %}
    {% endif %}
{% else %}
    <p>Not logged in!</p>
{% endif %}
{% endblock %}
